@page "/"

<PageTitle>Index</PageTitle>


<style>
    h1 {
        color: green;
        font-style: italic;
        text-shadow: 2px 2px 2px gray;
    }
</style>



<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
